* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    display: flex;
}

.pixel {
    width: 20px;
    height: 20px;
    border:1px solid black;
    /* background-color: red; */
}

#heading {
    text-align: center;
    color: rgb(5, 92, 92);
}